<ion-pane ng-controller="MediaCtrl">
  <ion-header-bar class="bar-stable">
      <h1 class="title">Nisos Gallery</h1>
  </ion-header-bar>
  <ion-content class="has-header padding" onScroll="loadMore1()">
      <br><br>
      <div class="item item-divider" >
           <i class="ion-images"></i>
           Nisos Images
      </div>

      <div ng-show="spinnerFlag">
        <ion-spinner></ion-spinner>
      </div>

      <ion-scroll direction="y" on-refresh="loadMore()">
          <ul class="list" >
            <li ng-repeat="image in images">
                <img ng-src="{{image.display_sizes[0].uri}}" class="image-list-thumb" ng-click="showImgDetails(image.id)"/>
            </li>
          </ul>
      </ion-scroll>
      <ion-infinite-scroll
        on-infinite="loadMore()"
        distance="2%">
      </ion-infinite-scroll>
  </ion-content>
</ion-pane>
