<ion-view view-title="Image">
  <ion-content>
    <div ng-show="spinnerFlag">
      <ion-spinner></ion-spinner>
    </div>
    <span ng-bind="title"></span><br/>
    <img src="{{imgUrl}}">

  </ion-content>
</ion-view>
